body {
  text-align: center;
}

h1 {
  color: #000;
}

input {
  width: 100%;
}

.container {
  display: block;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0px auto;
}

.wrapper {
  margin: auto;
  width: 400px;
  /*border: 3px solid green;*/
  padding: 10px;
}

.desc {
  text-transform: capitalize;
}

.tempColumn {
  max-width: 50%;
  margin-top: 50px;
}
.temperature {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weatherIcon {
  padding: 0px;
  border: 0px;
  width: 200px;
  margin: 0px auto;
}
